<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>
    <link rel="stylesheet" href="./static/index.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body onload="afterDocLoaded()">
    <section id="MainSection">
        <section id="leftMENU" style="overflow-y: scroll;">
            <h3>Sessions:</h3>    
        </section>
        <section id="chat-box">
            <div id="logo">
                <img src="./static/tralalerotrala.jpg" alt="Logo" width="100" height="100">
            </div>

        </section>

    </section>
    <textarea id="user-input"></textarea>
    <section id="inputs" style="display: flex; flex-direction: row;">
        <button onclick="sendMessage()">Send</button>
        <button onclick="newConversation()">New Conversation</button>
        <button onclick="login()">Login to Spotify</button>
        <script src="./static/index.js"></script>

    </section>
    
    
</body>
</html>
