<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat with AI</title>
    <link rel="stylesheet" href="./static/index.css">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body onload="afterDocLoaded()">
    <h1>Chat with AI</h1>
    <section id="MainSection">
        <section id="leftMENU" style="overflow-y: scroll;">
            <p>Sesje:</p>    
        </section>
        <section id="chat-box">
        </section>

    </section>
    
    <input type="text" id="user-input" placeholder="Type a message...">
    <button onclick="sendMessage()">Send</button>
    <button onclick="newConversation()">Nowa rozmowa</button>
    <script src="./static/index.js"></script>
    
</body>
</html>
